.dummy-heading {
  background: dodgerblue;
  height: 100%;
  color: #fff;

  padding: 4rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.dummy-heading h1 {
  margin-bottom: 2rem;
}

.dummy-heading p {
  line-height: 2rem;
}
